/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #f5f7fa;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Lato,sans-serif;
	color: #283D56;
}

/* header footer common */
header {
	padding-bottom:12px;
}
header, footer {
	width: 100%;
	text-align: center;
}

#mainmenu {text-align:right;}
#mainmenu ul {
	list-style:none;
	padding:0 10px;
	margin-top:1rem;
  margin-bottom: 0;
}
#mainmenu ul li {
	display:inline;
	margin-left:20px;
}
#mainmenu ul li a:hover {
	border-bottom: solid 1px #8d6daa;
	text-decoration: none;
}
#mainmenu ul li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	display: inline-block;
	padding: 8px 2px;
	vertical-align: middle;
	text-align: center;
	border-bottom: solid 1px transparent;
	transition: border-bottom .25s ease;
}

#mainmenu ul li.english {
	background-color: #8d6daa;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display:inline-block;
	text-align: center;
	transition: background-color .25s ease;
}
#mainmenu ul li.english a:hover {
	text-decoration: none;
	border-bottom: solid 1px #633689;
}
#mainmenu ul li.english:hover {
    background-color: #3f125e;
		text-decoration: none;
		border:none;

}

body {
  background-color: #efefef;
  font-family: Lato,sans-serif;
}
h2,h3,h4 {
	margin:0;
}


.container {

}

.banner {
	background: #5586D6;
  background-color: #633689;
	color: #fff;
	padding: 10px;
}

/* positions */
header {
	padding-top: 20px;
	font-size: 1.3em;
}
footer {
	padding: 10px;
	font-size: .8rem;
}
.title, .tips {
	height: 30px;
	padding-top: 20px;
	position: relative;
}
.title {
	border-radius: 40px 40px 0 0;
}
.tips {
	border-radius: 0 0 40px 40px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
.content {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
}
.contentName {
	padding: 10px;
	padding-left: 20px;
	width: 25%;
	font-weight:bold;
	vertical-align: top;
}
.contentDetails {
	padding: 10px;
}
.contentAction {
	width: 10%;
	padding-right: 20px;
	text-align: right;
}

.nameText {
	font-weight: bold;
}
.records textarea {
	height: 1.2em;
	font-size: 1em;
	resize: none;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-size: .9em;
}

/* buttons */
.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.addBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.detailBtn img{
	width: 20px;
	height: 20px;
}
.deleteBtn{
  background-image: url("../images/sprite.png");
  background-position: -5px -568px;
  width: 18px;
  height: 18px;
    display:inline-block;
}

tr:hover .deleteBtn {

	cursor: pointer;
}


.tableRows{
	border: 2px solid #DFE3E6
}



.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}

.errorMsg {
	color: red;
	font-weight:normal;
}
a.logo {
	display:inline-block;
	padding;
}
.newappIcon {
  display: inline;
	width:100%;
	min-width:34px;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	background: #8d6daa;
	opacity: 1;
	vertical-align: middle;
	/* margin-bottom:12px; */
}
.login {
	display:inline;
	vertical-align: middle;
	font-size:12px;
	color:#fff;
}
.login a {
	color:inherit;
}

.appTitle {
	padding: 15px;
  margin: 0 auto;
  text-align: center;
	font-size: 1.5rem;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.infoImg {
	cursor: pointer;
}
.flexBox {
	display: flex;
	flex-wrap: wrap;
}
.contentTiles {
		padding: 10px;
		font-size: .8rem;
}
.uploadBox {
  margin: 0 auto;
  text-align: center;
}
.appinfo {
	padding: 10px;
}


/* //// CUSTOM style */
#wrap {
	position: relative;
	box-shadow: -1px -5px 11px 0px black;
}
#hamburger {
	display:none;
	position: absolute;
	top:15px;
	right:20px;
	background:red;
	width:40px;
	height:40px;
	background: url("../images/whamburger.png")no-repeat center;
	background-size:contain;
}
header {
	/* height: 100%; */
	background:#633689;
	overflow: auto;
	display: flex;
	flex-direction: column;
}
.bannerimg {
	width:100%;
	/* position:absolute; */
}
.intro {
	margin-top:-6rem;
	position: relative;
  background: rgba(255,255,255,.85);
	background-color: #fff;
}
.intro div[class^="col-"] {
	font-size: 20px;
	line-height: 36px;
	padding-top:15px;
	padding-bottom:15px;
	padding:3rem;
	text-align:center;
}
.intro h2 ,
.intro h3 {
	font-size:50px;
}
.purplebox {
	background-color: #8d6daa;
	color: #fff;
}
.intro ul {
	padding-left:20%;
	list-style:inside;
	text-align:left;
}

dl {
	border: 3px double #ccc;
	padding: 0.5em;
}
dt {
	float: left;
	clear: left;
	width:30%;
	text-align: right;
	font-weight: bold;
}
dt::after {
	content: ":";
}
dd {
	margin: 0 ;
	margin-left: calc(30% + 20px) ;
	text-align: left;
	padding: 0 0 0.5em 0;
}
.adminPanel {
	position:fixed;
	right:20px;
	bottom:20px;
}
.adminPanel button {
	-webkit-appearance: button;
	height: 42px;
	background-color: #633689;
	color: #fff;
	border-radius: 6px;
	display: inline-block;
	line-height: 42px;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	transition:.3s ease all;
}
.adminPanel button:hover {
	background-color: #3f125e;
  color: #fff;
  text-decoration: none;
}

/* //// RESPONSIVE STYLE */
/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	.intro {
		margin-top:-2rem;
	}
	.newappIcon {
		margin-bottom:0;
		min-width:45px;
	}
	header .col-3.mr-auto {
		text-align:center;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.intro h2,
	.intro h3 {
		font-size:20px;
		font-weight:bold;
	}
	.intro div[class^="col-"] {
		font-size: 14px;
		line-height: 24px;
	}
	.intro ul {
		padding-left:0%;
	}
	.intro div[class^="col-"] {
		padding:1rem;
	}
	#mainmenu {display:none;}
	#hamburger {display:block;}
	.login {display:block;white-space: nowrap;}
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}
