<!DOCTYPE html>
<html>
<head>
	<!-- //Favicon tags -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css"/>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
</head>

<body>
	<div id="wrap">

		<header class = "fluid-container">
			<div class="container">
				<div class="row">
					<div class="col-3 mr-auto">
						<!-- <img class="newappIcon" src="images/e-office_logo.svg"> -->
						<a class="logo" href="/">
							<img class="newappIcon" src="images/talkteam_logo1.png">
						</a>
					</div>
					<div class="col-2 col-sm-9 col-xs-9 col-auto">
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<div class="mobile-lang">
							<a href="/?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a>
						</div>
						<% } else if (lang == 'nl') { %>
							<div class="mobile-lang">
								<a href="/?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a>
							</div>
						<% } %>
						<a id="hamburger" href="#mainmenu"></a>
						<nav id="mainmenu">
							<ul>
								<% if (typeof lang == 'undefined' || lang == 'en') { %>
								  <li><a href="/home">Home</a></li>
									<li><a href="/blog">News</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<% if (!username) { %>
										<li><a href="/support">Support</a></li>
										<li><a href="/login">Login</a></li>
									<% } else if (username) { %>
										<li><a href="/downloads">Downloads</a></li>
										<li><a href="/service_request">Service Request</a></li>
									<% } %>
								  <li><a href="/about">E-Office</a></li>
									<li><a href="/terms">Terms & Conditions</a></li>
								<% } else if (lang == 'nl') { %>
								  <li><a href="/home">Home</a></li>
									<li><a href="/blog">Nieuws</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<% if (!username) { %>
										<li><a href="/support">Ondersteuning</a></li>
										<li><a href="/login">Login</a></li>
									<% } else if (username) { %>
										<li><a href="/downloads">Downloads</a></li>
										<li><a href="/service_request">Service Request</a></li>
									<% } %>
								  <li><a href="/about">E-Office</a></li>
									<li><a href="/terms">Algemene voorwaarde</a></li>
								<% } %>
								<% if (typeof lang == 'undefined' || lang == 'en') { %>
									<li class="lang"><a href="?clang=nl"><img src="images/nl.png" title="Translate to: Dutch" alt="Dutch flag" height="34" width="34"></a></li>
								<% } else if (lang == 'nl') { %>
									<li class="lang"><a href="?clang=en"><img src="images/en.png" title="Vertaal naar: Engels" alt="British flag" height="34" width="34"></a></li>
								<% } %>
							</ul>
						</nav>
						<div class="login">
							<% if (username) { %>
								<a id="logoutButton" href="/logout" style="margin-right: -4px">Logout</a>
							<% } %>
							<% if (!username) { %>
								<!-- <a id="loginButton" href="/login">Login</a> -->
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</header>

<div class="fluid-container">
	<div class="row">
		<div class="col">
			<!-- <img class="bannerimg"   src="images/silhoutte2.jpg"> -->
			<img class="bannerimg" style="visibility: hidden" src="images/apples-talkteam.png">

		</div>
	</div>
</div>

<section class="container main">
	<div class="row intro">
		<div class="col-12"  style="text-align:center;">
			<h2>Admin</h2>
			<form id="loginForm" class="loginForm shortForm" method="post">
				<div>

						<label>
							<% if (typeof lang == 'undefined' || lang == 'en') { %>
									Username:
								<% } else if (lang == 'nl') { %>
									Gebruikersnaam:
							<% } %>


						</label>
						<input type="text" name="username" value="">
				</div>
				<div>
						<label>
							<% if (typeof lang == 'undefined' || lang == 'en') { %>
									Password:
								<% } else if (lang == 'nl') { %>
									Wachtwoord:
							<% } %>
						</label>
						<input id="password-field" type="password" name="password">
						<div class="toggle-password">
							<i class="fas fa-eye field-icon"></i>
						</div>
						<!-- <span toggle="#password-field" class="fas fa-fw fa-eye field-icon toggle-password"></span> -->
						<span class="errorMessage"><%= errorMessage %></span>
				</div>
				<input type="submit" name="button" value="login">
			</form>
		</div>

	</div>
</section>

<% if (typeof lang == 'undefined' || lang == 'en') { %>
	<iframe id="eofbot" src="/chatbot_en/chatbot.html" width="300" height="500px"></iframe>
<% } else if (lang == 'nl') { %>
	<iframe id="eofbot" src="/chatbot_nl/chatbot.html" width="300" height="500px"></iframe>
<% } %>

	<footer class="fluid-container">
		<div class="row-12">
			Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
		</div>
	</footer>
</div>
<script type="text/javascript" src="/scripts/custom_menu.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  // Handler for .ready() called.
	$("#loginForm").submit(function(){
		var isValid = true;
		$( "#loginForm label + input" ).each(function() {
			if($(this).val().trim().length == 0) {
				isValid = false;
			}
		});
		if (isValid == false) {
			alert("Username or password is empty!");
		}
		return isValid;
	});
	$(".toggle-password").click(function() {
		$(this).children('svg').toggleClass("fa-eye fa-eye-slash");
		var input = $("#password-field");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
		} else {
			input.attr("type", "password");
		}
	});
});
</script>
<script type="text/javascript" src="/scripts/botframe.js"></script>
</body>
</html>
