<!DOCTYPE html>
<html>
<head>
	<!-- //Favicon tags -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body>
	<div id="wrap">

		<header class = "fluid-container">
			<div class="container">
				<div class="row">
					<div class="col-3 mr-auto">
						<!-- <img class="newappIcon" src="images/e-office_logo.svg"> -->
						<a class="logo" href="/">
							<img class="newappIcon" src="images/talkteam_logo1.png">
						</a>
					</div>
					<div class="col-2 col-sm-9 col-xs-9 col-auto">
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<div class="mobile-lang">
							<a href="/?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a>
						</div>
						<% } else if (lang == 'nl') { %>
							<div class="mobile-lang">
								<a href="/?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a>
							</div>
						<% } %>
						<a id="hamburger" href="#mainmenu"></a>
						<nav id="mainmenu">
							<ul>
								<% if (typeof lang == 'undefined' || lang == 'en') { %>
									<li><a href="/home">Home</a></li>
									<li><a href="/blog">News</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<% if (!username) { %>
										<li>
											<a href="/register">Buy</a>
										</li>
										<li>
											<a href="/login">Login</a>
										</li>
									<% } else if (username) { %>
										<li><a href="/downloads">Downloads</a></li>
										<li><a href="/service_request">Service Request</a></li>
									<% } %>
									<li><a href="/about">E-Office</a></li>
									<li><a href="/terms">Terms & Conditions</a></li>
								<% } else if (lang == 'nl') { %>
									<li><a href="/home">Home</a></li>
									<li><a href="/blog">Nieuws</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<% if (!username) { %>
										<li><a href="/login">Login</a></li>
									<% } else if (username) { %>
										<li><a href="/downloads">Downloads</a></li>
									<% } %>
									<li><a href="/about">E-Office</a></li>
									<li><a href="/terms">Algemene voorwaarde</a></li>
								<% } %>
								<% if (typeof lang == 'undefined' || lang == 'en') { %>
									<li class="lang"><a href="?clang=nl"><img src="images/nl.png" title="Translate to: Dutch" alt="Dutch flag" height="34" width="34"></a></li>
								<% } else if (lang == 'nl') { %>
									<li class="lang"><a href="?clang=en"><img src="images/en.png" title="Vertaal naar: Engels" alt="British flag" height="34" width="34"></a></li>
								<% } %>
							</ul>
						</nav>
						<div class="login">
							<% if (username) { %>
								<a id="logoutButton" href="/logout" style="margin-right: -4px">Logout</a>
							<% } %>
							<% if (!username) { %>
								<a id="loginButton" href="/login">Login</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</header>

<div class="fluid-container">
	<div class="row">
		<div class="col">
			<img class="bannerimg" src="images/apples-talkteam.png">
		</div>
	</div>
</div>

<section class="container main">
	<div class="row intro">
		<div class="col-12 admin_cm">
			<h2>
				<% if (typeof lang == 'undefined' || lang == 'en') { %>
						Frequently asked questions
				<% } else if (lang == 'nl') { %>
					Veelgestelde vragen
				<% } %>

			</h2>
      <div class="general">
				<% if (typeof lang == 'undefined' || lang == 'en') { %>
					<h3>General</h3>
				<% } else if (lang == 'nl') { %>
					<h3>Algemeen</h3>
				<% } %>
        <div class="qlist">
					<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<% for(var i=0; i < questions.length; i++) { %>
							<% if (questions[i].question_section == 'general') { %>
								<div class="question">
									<% if (typeof admin == 'undefined') { %>
									<% } else if (admin) { %>
										<div class="faq_edit_button">
											<i class="fas fa-edit"></i>
										</div>
										<form method="post" action="/edit/question" class="question_edit_form">
											<input type="hidden" name="original_id" value="<%= questions[i].original_id %>">
											<input type="hidden" name="question_old_title" value="<%= questions[i].question_title %>">
											<input type="text" name="question_title" value="<%= questions[i].question_title %>">
											<input type="text" name="question_title_nl" value="<%= questions[i].question_title_nl %>">
											<textarea type="text" name="question_answer" ><%= questions[i].question_answer %></textarea>
											<textarea type="text" name="question_answer_nl" ><%= questions[i].question_answer_nl %></textarea>
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="send / verzenden">
										</form>
										<form method="post" action="/delete/question" class="question_delete_form shortForm">
											<input type="hidden" name="original_id" value="<%= questions[i].original_id %>">
											<input type="hidden" name="question_title" value="<%= questions[i].question_title %>">
											<input type="hidden" name="question_answer" value="<%= questions[i].question_answer %>">
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="X">
										</form>
									<% } %>
									<div class="parts">
										<%= questions[i].question_title %>
										<span class="closed">▲</span>
										<span class="opened">▼</span>
										<div class="answer">
											<%= questions[i].question_answer %>
										</div>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } else if (lang == 'nl') { %>
						<% for(var i=0; i < questions.length; i++) { %>
							<% if (questions[i].question_section == 'general') { %>
								<div class="question">
									<% if (typeof admin == 'undefined') { %>
									<% } else if (admin) { %>
										<div class="faq_edit_button">
											<i class="fas fa-edit"></i>
										</div>
										<form method="post" action="/edit/question" class="question_edit_form">
											<input type="hidden" name="original_id" value="<%= questions[i].original_id %>">
											<input type="hidden" name="question_old_title" value="<%= questions[i].question_title %>">
											<input type="text" name="question_title" value="<%= questions[i].question_title %>">
											<input type="text" name="question_title_nl" value="<%= questions[i].question_title_nl %>">
											<textarea type="text" name="question_answer" ><%= questions[i].question_answer %></textarea>
											<textarea type="text" name="question_answer_nl" ><%= questions[i].question_answer_nl %></textarea>
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="send / verzenden">
										</form>
										<form method="post" action="/delete/question" class="question_delete_form shortForm">
											<input type="hidden" name="question_title" value="<%= questions[i].question_title %>">
											<input type="hidden" name="question_answer" value="<%= questions[i].question_answer %>">
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="X">
										</form>
									<% } %>
									<%= questions[i].question_title_nl %>
									<span class="closed">▲</span>
									<span class="opened">▼</span>
									<div class="answer">
										<%= questions[i].question_answer_nl %>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } %>
        </div>
      </div>

      <div class="personal">
				<% if (typeof lang == 'undefined' || lang == 'en') { %>
					<h3>Personal</h3>
				<% } else if (lang == 'nl') { %>
					<h3>Gebruiker</h3>
				<% } %>
        <div class="qlist">
					<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<% for(var i=0; i < questions.length; i++) { %>
							<% if (questions[i].question_section == 'personal') { %>
								<div class="question">
									<% if (typeof admin == 'undefined') { %>
									<% } else if (admin) { %>
										<form method="post" action="/delete/question" class="question_delete_form shortForm">
											<input type="hidden" name="question_title" value="<%= questions[i].question_title %>">
											<input type="hidden" name="question_answer" value="<%= questions[i].question_answer %>">
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="X">
										</form>
									<% } %>
									<%= questions[i].question_title %>
									<span class="closed">▲</span>
									<span class="opened">▼</span>
									<div class="answer">
										<%= questions[i].question_answer %>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } else if (lang == 'nl') { %>
						<% for(var i=0; i < questions.length; i++) { %>
							<% if (questions[i].question_section == 'personal') { %>
								<div class="question">
									<% if (typeof admin == 'undefined') { %>
									<% } else if (admin) { %>
										<form method="post" action="/delete/question" class="question_delete_form shortForm">
											<input type="hidden" name="question_title" value="<%= questions[i].question_title %>">
											<input type="hidden" name="question_answer" value="<%= questions[i].question_answer %>">
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="X">
										</form>
									<% } %>
									<%= questions[i].question_title_nl %>
									<span class="closed">▲</span>
									<span class="opened">▼</span>
									<div class="answer">
										<%= questions[i].question_answer_nl %>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } %>
        </div>
      </div>
      <div class="banking">
				<% if (typeof lang == 'undefined' || lang == 'en') { %>
					<h3>Banking</h3>
				<% } else if (lang == 'nl') { %>
					<h3>Bankieren</h3>
				<% } %>
        <div class="qlist">
					<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<% for(var i=0; i < questions.length; i++) { %>
							<% if (questions[i].question_section == 'banking') { %>
								<div class="question">
									<% if (typeof admin == 'undefined') { %>
									<% } else if (admin) { %>
										<form method="post" action="/delete/question" class="question_delete_form shortForm">
											<input type="hidden" name="question_title" value="<%= questions[i].question_title %>">
											<input type="hidden" name="question_answer" value="<%= questions[i].question_answer %>">
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="X">
										</form>
									<% } %>
									<%= questions[i].question_title %>
									<span class="closed">▲</span>
									<span class="opened">▼</span>
									<div class="answer">
										<%= questions[i].question_answer %>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } else if (lang == 'nl') { %>
						<% for(var i=0; i < questions.length; i++) { %>
							<% if (questions[i].question_section == 'banking') { %>
								<div class="question">
									<% if (typeof admin == 'undefined') { %>
									<% } else if (admin) { %>
										<form method="post" action="/delete/question" class="question_delete_form shortForm">
											<input type="hidden" name="question_title" value="<%= questions[i].question_title %>">
											<input type="hidden" name="question_answer" value="<%= questions[i].question_answer %>">
											<input type="hidden" name="question_section" value="<%= questions[i].question_section %>">
											<input type="submit" value="X">
										</form>
									<% } %>
									<%= questions[i].question_title_nl %>
									<span class="closed">▲</span>
									<span class="opened">▼</span>
									<div class="answer">
										<%= questions[i].question_answer_nl %>
									</div>
								</div>
							<% } %>
						<% } %>
					<% } %>
        </div>
			</div>



				<!-- //Post a Question form  -->
				<% if (username && admin ) { %>
					<form class="questionForm" action="/new/question" method="post">
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
							<h4>Post a new question</h4>
							<label for="question_section"><% if (typeof lang == 'undefined' || lang == 'en') { %>Subject:<% } else if (lang == 'nl') { %>Onderwerp:<% } %></label>
							<select id="question_section" name="question_section" value="">
								<option value="general">General</option>
								<option value="personal">Personal</option>
								<option value="banking">Banking</option>
								<option value="technical">Technical</option>
							</select>
							<label for="question_title">Question:</label>
							<input type="text" id="question_title" name="question_title"/>
							<label for="question_answer">Answer:</label>
							<textarea type="text" id="question_answer" name="question_answer"/></textarea>
							<hr>
							<label for="question_title_nl">Question: (NL)</label>
							<input type="text" id="question_title_nl" name="question_title_nl"/>
							<label for="question_answer_nl">Answer: (NL)</label>
							<textarea type="text" id="question_answer_nl" name="question_answer_nl"/></textarea>
							<input type="submit" value="<% if (typeof lang == 'undefined' || lang == 'en') { %>Send<% } else if (lang == 'nl') { %>Verzenden<% } %>">
						<% } else if (lang == 'nl') { %>
							<h4>Nieuwe vraag aanmaken</h4>
							<label for="question_section"><% if (typeof lang == 'undefined' || lang == 'en') { %>Subject:<% } else if (lang == 'nl') { %>Onderwerp:<% } %></label>
							<select id="question_section" name="question_section" value="">
								<option value="general">Algemeen</option>
								<option value="personal">Persoonlijk</option>
								<option value="banking">Bankieren</option>
								<option value="technical">Technisch</option>
							</select>
							<label for="question_title">Vraag: (EN)</label>
							<input type="text" id="question_title" name="question_title"/>
							<label for="question_answer">Antwoord: (EN)</label>
							<textarea type="text" id="question_answer" name="question_answer"/></textarea>
							<hr>
							<label for="question_title_nl">Vraag: </label>
							<input type="text" id="question_title_nl" name="question_title_nl"/>
							<label for="question_answer_nl">Antwoord:</label>
							<textarea type="text" id="question_answer_nl" name="question_answer_nl"/></textarea>
							<input type="submit" value="<% if (typeof lang == 'undefined' || lang == 'en') { %>Send<% } else if (lang == 'nl') { %>Verzenden<% } %>">
						<% } %>

					</form>
				<% } %>

		</div>

		<% if (username && admin ) { %>
			<div class="adminPanel">
				<!-- <form id="adminPost" action="/admin_cm/post" method="post">
					<input id="jsonParser" type="text" name="_jsonParser" hidden="true" value="">
					<input id="currentPageVar" type="text" name="currentPageVar" hidden="true" value='<%= title %>'>
					<input id="admin_ApplyButton" name="button" value="Apply">
					<input id="admin_SafeButton" name="button" value="Save" type="submit">
				</form> -->
				<a href="/toc">Configuration</a>

				<div id="setAdmin" hidden="true">toggle setAdmin</div>
			</div>

		<% } else if (username) { %>
			<div class="adminPanel">
				<a href="/toc">Configuration</a>
			</div>
		<% } %>

		<input id="jsonConverter" type="text" name="_jsonConverter" hidden="true" value='<%= _jsonConverter %>'>

</section>

<% if (typeof lang == 'undefined' || lang == 'en') { %>
	<iframe id="eofbot" src="/chatbot_en/chatbot.html" width="300" height="500px"></iframe>
<% } else if (lang == 'nl') { %>
	<iframe id="eofbot" src="/chatbot_nl/chatbot.html" width="300" height="500px"></iframe>
<% } %>

<footer class="fluid-container">
		<div class="row-12">
			Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
		</div>

</div>
<script type="text/javascript">
  $(document).ready(function() {
		var questionList = $('.qlist');

		$('.qlist').each(function(){
			if ($(this).children().length == 0) {
				$(this).parent().remove();
			}
		})

    var question = $(".question");
    $(question).on('click', function(){
      $(this).find('.answer').slideToggle(function(){
         $(this).parent('.question').toggleClass('active');
      });
    })
		$(".questionForm").submit(function(){
			var isValid = true;
			$( ".questionForm label + input" ).each(function() {
				if($(this).val().trim().length == 0) {
					isValid = false;
				}
			});
			if (isValid == false) {
				alert("You forgot to fill in some fields");
			}
			return isValid;
		});

		var editButton = $('.faq_edit_button');
		editButton.click(function(e) {
				e.stopPropagation();
				e.preventDefault();
				parts = $(this).siblings('.parts');
				currentFaq = $(this).siblings('.question_edit_form');
				parts.toggle();
				currentFaq.toggle();

			// currentForm.toggleClass('closed');
		});

		$('#eofbot').on('load', function(){
			var wavy = $(this).contents().find("#wavy");
			var eofbot = $('#eofbot');
			$(this).contents().find("#wavy").on('click', function(event) {
				available = eofbot.contents().find(".botname span", eofbot);
				console.log(available)
				function toggleText() {
					if (available[0].innerHTML === "available") {
						available[0].innerHTML = "Chatting";
					} else {
						available[0].innerHTML = "available";
					}
				}
				$('#eofbot').toggleClass('active');
				toggleText();
			});
		});

  });
</script>
<script src="./lib/domJSON.js"></script>
<!-- <script type="text/javascript" src="/scripts/admin_cm.js"></script> -->
<script type="text/javascript" src="/scripts/custom_menu.js"></script>
</body>
</html>
