<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<div id="wrap">

			<header class = "fluid-container">

			</header>

			<div class="fluid-container">
				<div class="row">
					<div class="col">
						<img class="bannerimg" src="images/silhoutte2.jpg">
					</div>
				</div>
			</div>

			<section class="container main">
				<div class="row intro">
					<div class="col-12">
							TEST
							<%= title %>
					</div>
				</div>
			</section>

			<footer class="fluid-container">
				<div class="row-12">
					Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
				</div>
			</footer>

		</div>
	</body>
</html>
