<!DOCTYPE html>
<html>
<head>
	<!-- //Favicon tags -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
</head>

<body>
	<div id="wrap">

<header class = "fluid-container">
	<div class="container">
		<div class="row">
			<div class="col-3 mr-auto">
				<!-- <img class="newappIcon" src="images/e-office_logo.svg"> -->
				<a class="logo" href="/">
					<img class="newappIcon" src="images/talkteam_logo1.png">
				</a>
			</div>
			<div class="col-2 col-sm-9 col-xs-9 col-auto">
				<% if (typeof lang == 'undefined' || lang == 'en') { %>
				<div class="mobile-lang">
					<a href="/?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a>
				</div>
				<% } else if (lang == 'nl') { %>
					<div class="mobile-lang">
						<a href="/?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a>
					</div>
				<% } %>
				<a id="hamburger" href="#mainmenu"></a>
				<nav id="mainmenu">
					<ul>
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
						  <li><a href="/home">Home</a></li>
							<% if (!username) { %>
								<li>
									<a href="/register">Register</a>
									<ul>
										<li><a href="/downloads">Downloads</a></li>
									</ul>
								</li>
							<% } else if (username) { %>
								<li><a href="/downloads">Downloads</a></li>
							<% } %>
						  <li>
								<a href="/about">E-Office</a>
								<ul>
									<li><a href="/blog">News</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<li><a href="/terms">Terms & Conditions</a></li>
								</ul>
							</li>
						<% } else if (lang == 'nl') { %>
						  <li><a href="/home">Home</a></li>
							<% if (!username) { %>
								<li>
									<a href="/register">Register</a>
									<ul>
										<li><a href="/downloads">Downloads</a></li>
									</ul>
								</li>
							<% } else if (username) { %>
								<li><a href="/downloads">Downloads</a></li>
							<% } %>
						  <li>
								<a href="/about">E-Office</a>
								<ul>
									<li><a href="/blog">Nieuws</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<li><a href="/terms">Algemene voorwaarde</a></li>
								</ul>
							</li>
						<% } %>

						<% if (typeof lang == 'undefined' || lang == 'en') { %>
							<li class="lang"><a href="?clang=nl"><img src="images/nl.png" title="Translate to: Dutch" alt="Dutch flag" height="34" width="34"></a></li>
						<% } else if (lang == 'nl') { %>
							<li class="lang"><a href="?clang=en"><img src="images/en.png" title="Vertaal naar: Engels" alt="British flag" height="34" width="34"></a></li>
						<% } %>
					</ul>
				</nav>
				<div class="login">
					<% if (username) { %>
						<a id="logoutButton" href="/logout" style="margin-right: -4px">Logout</a>
					<% } %>
					<% if (!username) { %>
						<a id="loginButton" href="/login">Login</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="fluid-container">
	<div class="row">
		<div class="col">
			<!-- <img class="bannerimg" src="images/silhoutte2.jpg"> -->
			<!-- <img class="bannerimg" src="images/apples-talkteam.png"> -->
			<img class="bannerimg" src="images/apples-talkteam.png">
		</div>
	</div>
</div>

<section class="container main">
	<div class="row intro">
		<% if (typeof admin == 'undefined') { %>
		<div class="col-12 admin_cm">
		<% } else if (admin) { %>
   	<div class="col-12 admin_cm" contenteditable="true">
	  <% } %>
		<h2>
			TalkTeam
			meeting app for IBM Connections
		</h2>
			<p>
				Meetings are a waste of time? Losing overview of all submitted documents? Not clear which agreements have been made after the meeting? Meetings will be better, smarter and easier using TalkTeam. An app which uses the power of IBM Connections.
			</p>
			<h3>
				meetings will be nice and smart
			</h3>
			<p>
				Talk Team supports meeting preparations, the meetings themselves and the follow-up of action points. With TalkTeam, participants are directly involved in the agenda and meeting documents. By preparing your meetings online, there is much more time for content during the actual meeting! Meetings will no longer be endless, but concrete and to the point instead.
			</p>
			<p>
					TalkTeam offers a meeting solution for all kinds of teams. A team can consist of people from the internal organization, but it is also possible to add external participants. By capturing information centrally, it is clear to everyone what they are expected to do.
			</p>
		</div>
		<% if (typeof admin == 'undefined') { %>
		<div class="col-12 admin_cm purplebox">
		<% } else if (admin) { %>
   	<div class="col-12 admin_cm purplebox" contenteditable="true">
	  <% } %>

			<h3>
				paperless and transparent
			</h3>
			<p>
				TalkTeam is a smart addition to IBM Connections. It integrates into the company-wide social platform and enriches IBM Connections with a number of useful tools. TalkTeam offers a clear meeting structure with information from a community and presents it in a simple way. You have a clear perception of each meeting.
			</p>
			<p>
				A meeting consists of a number of participants. TalkTeam offers the possibility to organize a single meeting or a recurring meeting with a team. TalkTeam also shows your meeting directly on your calendar.
			</p>
			<p>
				Participants can add agenda items and documents, and have the opportunity to take notes. During the meeting the agenda items are being discussed and action points and decisions can be specified.
			</p>
			<p>
				All information is part of the collaboration platform IBM Connections, which makes it easy for those concerned to find the information.
			</p>
		</div>
		<% if (typeof admin == 'undefined') { %>
		<div class="col-12 admin_cm">
		<% } else if (admin) { %>
   	<div class="col-12 admin_cm" contenteditable="true">
	  <% } %>
			<h3>
				why do you need TalkTeam?
			</h3>
			<ul>
				<li>It supports processes within a single environment</li>
				<li>Integration with internal directory of employees</li>
				<li>
					Integration with calendars
				</li>
				<li>
					Agreements can be directly assigned
				</li>
				<li>
					It enriches your collaboration platform
				</li>
				<li>
					Ability to have online and paperless meetings, including people from outside your company
				</li>
				<li>
					Available on multiple devices, also as a mobile app
				</li>
			</ul>
		</div>

		<% if (username && admin ) { %>
			<div class="adminPanel">
				<form id="adminPost" action="/admin_cm/post" method="post">
					<input id="jsonParser" type="text" name="_jsonParser" hidden="true" value="">
					<input id="currentPageVar" type="text" name="currentPageVar" hidden="true" value='<%= title %>'>
					<input id="admin_ApplyButton" name="button" value="Apply">
					<input id="admin_SafeButton" name="button" value="Save" type="submit">
				</form>
				<a href="/toc">Configuration</a>

				<div id="setAdmin" hidden="true">toggle setAdmin</div>
			</div>

		<% } else if (username) { %>
			<div class="adminPanel">
				<a href="/toc">Configuration</a>
			</div>
		<% } %>

		<input id="jsonConverter" type="text" name="_jsonConverter" hidden="true" value='<%= _jsonConverter %>'>

</section>

	<footer class="fluid-container">
		<div class="row-12">
			Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
		</div>
	</footer>
</div>
<script src="./lib/domJSON.js"></script>
<script type="text/javascript" src="/scripts/admin_cm.js"></script>
<script type="text/javascript" src="/scripts/custom_menu.js"></script>
</body>
</html>
