<!DOCTYPE html>
<html>
<head>
	<title>Favorites Organizer powered by Cloudant</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<header class = "fluid-container">
		<div class="container">
			<div class="row">
				<div class="col-2">
					<!-- <img class="newappIcon" src="images/e-office_logo.svg"> -->
					<img class="newappIcon" src="images/talkteam_logo.png">
					<!-- <p class = "appTitle">
					</p> -->
				</div>
				<div class="col-10">
					<nav id="mainmenu">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/register">Register</a></li>
							<li><a href="/downloads">Downloads</a></li>
							<li><a href="/news">News</a></li>
							<li class="english"><a href="/translate">EN</a></li>
						</ul>
					</nav>
				</div>
				<!-- <div class = "banner">
				</div> -->
			</div>
		</div>

</header>
<div class="fluid-container">
	<div class="row">
		<div class="col">
			<img class="bannerimg" src="images/bannerblurred.png">
		</div>
	</div>
</div>

<section class="container main">
	<div class="row intro">
		<div class="col-12">
			<h2>
				TalkTeam – meeting app for IBM Connections
			</h2>
			<p>
				Meetings are a waste of time? Losing overview of all submitted documents? Not clear which agreements have been made after the meeting? Meetings will be better, smarter and easier using TalkTeam. An app which uses the power of IBM Connections.
			</p>
			<h3>
				meetings will be nice and smart
			</h3>
			<p>
				Talk Team supports meeting preparations, the meetings themselves and the follow-up of action points. With TalkTeam, participants are directly involved in the agenda and meeting documents. By preparing your meetings online, there is much more time for content during the actual meeting! Meetings will no longer be endless, but concrete and to the point instead.
			</p>
			<p>
					TalkTeam offers a meeting solution for all kinds of teams. A team can consist of people from the internal organization, but it is also possible to add external participants. By capturing information centrally, it is clear to everyone what they are expected to do.
			</p>
		</div>
		<div class="col-12 purplebox">
			<h3>
				paperless and transparent
			</h3>
			<p>
				TalkTeam is a smart addition to IBM Connections. It integrates into the company-wide social platform and enriches IBM Connections with a number of useful tools. TalkTeam offers a clear meeting structure with information from a community and presents it in a simple way. You have a clear perception of each meeting.
			</p>
			<p>
				A meeting consists of a number of participants. TalkTeam offers the possibility to organize a single meeting or a recurring meeting with a team. TalkTeam also shows your meeting directly on your calendar.
			</p>
			<p>
				Participants can add agenda items and documents, and have the opportunity to take notes. During the meeting the agenda items are being discussed and action points and decisions can be specified.
			</p>
			<p>
				All information is part of the collaboration platform IBM Connections, which makes it easy for those concerned to find the information.
			</p>
		</div>
		<div class="col-12">
			<h3>
				why do you need TalkTeam?
			</h3>
			<ul>
				<li>It supports processes within a single environment</li>
				<li>Integration with internal directory of employees</li>
				<li>
					Integration with calendars
				</li>
				<li>
					Agreements can be directly assigned
				</li>
				<li>
					It enriches your collaboration platform
				</li>
				<li>
					Ability to have online and paperless meetings, including people from outside your company
				</li>
				<li>
					Available on multiple devices, also as a mobile app
				</li>
			</ul>
		</div>


		<!-- <div class="col-12 col-md-5 col-xs-6">
			<h2>
				TalkTeam – meeting app for IBM Connections
			</h2>
			<p>
				Meetings are a waste of time? Losing overview of all submitted documents? Not clear which agreements have been made after the meeting? Meetings will be better, smarter and easier using TalkTeam. An app which uses the power of IBM Connections.
			</p>
			<h3>
				meetings will be nice and smart
			</h3>
			<p>
				Talk Team supports meeting preparations, the meetings themselves and the follow-up of action points. With TalkTeam, participants are directly involved in the agenda and meeting documents. By preparing your meetings online, there is much more time for content during the actual meeting! Meetings will no longer be endless, but concrete and to the point instead.
			</p>
			<p>
					TalkTeam offers a meeting solution for all kinds of teams. A team can consist of people from the internal organization, but it is also possible to add external participants. By capturing information centrally, it is clear to everyone what they are expected to do.
			</p>
		</div>
		<div class="col-12 col-md-5 offset-md-2">

			<h3>
				paperless and transparent
			</h3>
			<p>
				TalkTeam is a smart addition to IBM Connections. It integrates into the company-wide social platform and enriches IBM Connections with a number of useful tools. TalkTeam offers a clear meeting structure with information from a community and presents it in a simple way. You have a clear perception of each meeting.
			</p>
			<p>
				A meeting consists of a number of participants. TalkTeam offers the possibility to organize a single meeting or a recurring meeting with a team. TalkTeam also shows your meeting directly on your calendar.
			</p>
			<p>
				Participants can add agenda items and documents, and have the opportunity to take notes. During the meeting the agenda items are being discussed and action points and decisions can be specified.
			</p>
			<p>
				All information is part of the collaboration platform IBM Connections, which makes it easy for those concerned to find the information.
			</p>
		</div> -->

</section>

	<!-- <section>
		<table id='notes' class='records' border='0' cellspacing='0' cellpadding='0'><tbody></tbody></table>
	</section> -->
	<footer>
		 <div>
			<button class='detailBtn' onclick="toggleServiceInfo()" title='Service information'>
				<img src='images/detail.png' alt='detail'/>

			<button class="addBtn" onclick="addItem()" title="add record">
				<img src="images/add.png" alt="add">
			</button>
			<br>
			<a class = "infoImg" onclick="toggleAppInfo()">Help</a>
		</div>
		<div id='appinfo' class = 'appinfo' style='display: none;'>
						This application helps you organize your favorite files.</br>
						Supports all file types, like Audio, Video, Photos, Text etc.</br>
						Click on Add icon to create a new category for your files. Provide a title and description for the category in the text fields.</br>
						To add a file to a given category, Click on 'Browse' button to select a file, and 'Upload' button to upload the file.
						To modify a title or description, Edit the text and press Enter.</br>
						You can add multiple files (of any type) to a category.</br>
						Click on <span class = 'deleteBtn' alt='delete'></span> icon to delete the category.
		</div>
		<div id="loadingImage"></div>
		<br><br><br><br><br>
		<div id="errorDiv" class='errorMsg'></div>
	</footer>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<div id="myImage"><div id="innerImg"></div></div>
	<br><br><br>
	</div>
</body>
</html>
