<!DOCTYPE html>
<html>
<head>
	<!-- //Favicon tags -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
</head>

<body>
	<div id="wrap">

		<header class = "fluid-container">
			<div class="container">
				<div class="row">
					<div class="col-3 mr-auto">
						<!-- <img class="newappIcon" src="images/e-office_logo.svg"> -->
						<a class="logo" href="/">
							<img class="newappIcon" src="images/talkteam_logo1.png">
						</a>
					</div>
					<div class="col-2 col-sm-9 col-xs-9 col-auto">
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<div class="mobile-lang">
							<a href="?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a>
						</div>
						<% } else if (lang == 'nl') { %>
							<div class="mobile-lang">
								<a href="?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a>
							</div>
						<% } %>
						<a id="hamburger" href="#mainmenu"></a>
						<nav id="mainmenu">
							<ul>
								<% if (typeof lang == 'undefined' || lang == 'en') { %>
								  <li><a href="/home">Home</a></li>
									<% if (!username) { %>
										<li><a href="/register">Register</a></li>
									<% } %>
								  <li><a href="/downloads">Downloads</a></li>
								  <li><a href="/faq">F.A.Q</a></li>
								  <li><a href="/news">News</a></li>
								<% } else if (lang == 'nl') { %>
								  <li><a href="/home">Home</a></li>
									<% if (!username) { %>
										<li><a href="/register">Registreer</a></li>
									<% } %>
								  <li><a href="/downloads">Downloads</a></li>
								  <li><a href="/faq">F.A.Q</a></li>
								  <li><a href="/news">Nieuws</a></li>
								<% } %>

								<% if (typeof lang == 'undefined' || lang == 'en') { %>
									<li class="lang"><a href="?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a></li>
								<% } else if (lang == 'nl') { %>
									<li class="lang"><a href="?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a></li>
								<% } %>
							</ul>
						</nav>
						<div class="login">
							<% if (username) { %>
								<a id="logoutButton" href="/logout" style="margin-right: -4px">Logout</a>
							<% } %>
							<% if (!username) { %>
								<a id="loginButton" href="/login">Login</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</header>

<div class="fluid-container">
	<div class="row">
		<div class="col">
			<img class="bannerimg" src="images/silhoutte2.jpg">
		</div>
	</div>
</div>

<section class="container main">
	<div class="row intro">
		<div class="col-12 admin_cm">
			<h2>
				News & Updates
			</h2>
			<p>
				Meetings are a waste of time? Losing overview of all submitted documents? Not clear which agreements have been made after the meeting? Meetings will be better, smarter and easier using TalkTeam. An app which uses the power of IBM Connections.
			</p>
		</div>
		<div class="col-12 admin_cm purplebox">
			<h3>
				paperless and transparent
			</h3>
			<p>
				TalkTeam is a smart addition to IBM Connections. It integrates into the company-wide social platform and enriches IBM Connections with a number of useful tools. TalkTeam offers a clear meeting structure with information from a community and presents it in a simple way. You have a clear perception of each meeting.
			</p>
			<p>
				A meeting consists of a number of participants. TalkTeam offers the possibility to organize a single meeting or a recurring meeting with a team. TalkTeam also shows your meeting directly on your calendar.
			</p>
			<p>
				Participants can add agenda items and documents, and have the opportunity to take notes. During the meeting the agenda items are being discussed and action points and decisions can be specified.
			</p>
			<p>
				All information is part of the collaboration platform IBM Connections, which makes it easy for those concerned to find the information.
			</p>
		</div>

		<% if (typeof admin == 'undefined') { %>

		<% } else if (admin) { %>
			<div class="adminPanel">
				<form id="adminPost" action="/admin_cm/post" method="post">
					<input id="jsonParser" type="text" name="_jsonParser" hidden="true" value="">
					<input id="currentPageVar" type="text" name="currentPageVar" hidden="true" value='<%= title %>'>
					<input id="admin_ApplyButton" name="button" value="Apply">
					<input id="admin_SafeButton" name="button" value="Save" type="submit">
				</form>
				<div id="setAdmin" hidden="true">toggle setAdmin</div>
			</div>
		<% } %>

		<input id="jsonConverter" type="text" name="_jsonConverter" hidden="true" value='<%= _jsonConverter %>'>

</section>

	<footer class="fluid-container">
		<div class="row-12">
			Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
		</div>
	</footer>
</div>
<script src="./lib/domJSON.js"></script>
<script type="text/javascript" src="/scripts/admin_cm.js"></script>
<script type="text/javascript" src="/scripts/custom_menu.js"></script>
</body>
</html>
