<!DOCTYPE html>
<html>
<head>
	<!-- //Favicon tags -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
	<script src="/js/polyfill.js"></script>
</head>

<body>
	<div id="wrap">
		<header class = "fluid-container">
			<div class="container">
				<div class="row">
					<div class="col-3 mr-auto">
						<a class="logo" href="/">
							<img class="newappIcon" src="images/talkteam_logo1.png">
						</a>
					</div>
					<div class="col-2 col-sm-9 col-xs-9 col-auto">
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
						<div class="mobile-lang">
							<a href="/?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a>
						</div>
						<% } else if (lang == 'nl') { %>
							<div class="mobile-lang">
								<a href="/?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a>
							</div>
						<% } %>
						<a id="hamburger" href="#mainmenu"></a>
						<nav id="mainmenu">
							<ul>
								<% if (typeof lang == 'undefined' || lang == 'en') { %>
								  <li><a href="/home">Home</a></li>
									<% if (!username) { %>
										<li><a href="/register">Register</a></li>
									<% } %>
								  <li><a href="/downloads">Downloads</a></li>
								  <li><a href="/faq">F.A.Q</a></li>
								  <li><a href="/news">News</a></li>
								<% } else if (lang == 'nl') { %>
								  <li><a href="/home">Home</a></li>
									<% if (!username) { %>
										<li><a href="/register">Registreer</a></li>
									<% } %>
								  <li><a href="/downloads">Downloads</a></li>
								  <li><a href="/faq">F.A.Q</a></li>
								  <li><a href="/news">Nieuws</a></li>
								<% } %>

								<% if (typeof lang == 'undefined' || lang == 'en') { %>
									<li class="lang"><a href="?clang=nl"><img src="images/nl.png" alt="Dutch flag" height="34" width="34"></a></li>
								<% } else if (lang == 'nl') { %>
									<li class="lang"><a href="?clang=en"><img src="images/en.png" alt="British flag" height="34" width="34"></a></li>
								<% } %>
							</ul>
						</nav>
						<div class="login">
							<% if (username) { %>
								<a id="logoutButton" href="/logout" style="margin-right: -4px">Logout</a>
							<% } %>
							<% if (!username) { %>
								<a id="loginButton" href="/login">Login</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</header>

<div class="fluid-container">
	<div class="row">
		<div class="col">
			<img class="bannerimg" src="images/silhoutte2.jpg">
		</div>
	</div>
</div>

<section class="container main">
	<div class="row intro">
		<div class="col-12">
			<h2>
				Welcome, this is a authorized environment !	<br>
			<span style="font-size: 10px;">u can only see this when you are logged in .</span>
			</h2>
			<dl class="dl-horizontal">
				<% if (admin) { %>
					<legend>
						<img class="admin_icon" src="images/admin_icon.png">
						Admin account
					</legend>
				<% } %>
			  <dt>_id</dt>
			  <dd><%= _id %></dd>
			  <dt>Organisation</dt>
			  <dd><%= organisationName %></dd>
			  <dt>Email</dt>
			  <dd><%= organisationEmail %></dd>
			  <dt>License key</dt>
			  <dd><%= licensekey %></dd>
			  <dt>Active</dt>
			  <dd><%= active %></dd>
			  <dt>Start subscription</dt>
			  <dd><%= startDate %></dd>
			  <dt>Expiration date license</dt>
			  <dd><%= endDate %></dd>
			</dl>
		</div>
		<div class="col-12 list_all_users">
			<% if (admin) { %>
				<% for(var i=0; i < userRows.length; i++) { %>
					<dl class="dl-horizontal">
						<legend>
							<img class="admin_icon" src="images/organisation_icon.png">
							<%= organisationName %><span class="closed">&#9650;</span><span class="opened">&#9660;</span>
						</legend>
						<tr>
						<% for(var j=0; j < Object.keys(userRows[i]).length; j++) { %>
								<dt><%= Object.keys(userRows[i])[j] %></dt>
								<dd><%= Object.values(userRows[i])[j] %></dd>
						<% } %>
					</tr>
					</dl>
					<br>

					<% } %>
				<% } %>
			</div>

</section>

	<footer class="fluid-container">
		<div class="row-12">
			Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
		</div>
	</footer>
</div>
	<script type="text/javascript" src="/scripts/loginbutton.js"></script>
	<script type="text/javascript" src="/scripts/custom_menu.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		// Removing _rev because its unnecesary info taking up row space
		var dt = $("dt");
		for (i = 0; i < dt.length; i++) {
	    if (dt[i].innerHTML == '_rev') {
				$(dt[i]).nextUntil( function () {
					$(this).remove();
				});
				dt[i].remove();
			}
		};

		var userTable = $(".list_all_users .dl-horizontal");
		$(userTable).on('click', function(){
			$(this).children('dt').slideToggle(function(){

			});
			var $el = $(this);
			setTimeout(function () {
				$el.toggleClass('active');
			}, 500);
			$(this).children('dd').slideToggle(function(){});
			// $(this).children('dd').slideToggle(function(){
			// 	 $(this).parent('.question').toggleClass('active');
			// });
		})
	});
	</script>
</body>
</html>
