/* @CHARSET "ISO-8859-1"; */
/*
.conversationQuestion {
	color: #F00;
}

.conversation {
	color: #7216A4;
} */

button {
    background-color: #7216A4;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.askbutton {
	background-color: #808080;
}

#button-yes {
	width: 60px;
	margin: 5px;
	border:none;
	border-radius: 2px;
	background-color:green;
	color: white;
}

#button-no {
	width: 60px;
	margin: 5px;
	border:none;
	border-radius: 2px;
	background-color:red;
	color: white;
}
.setting {
	text-align:right;
}
button i {
	line-height:20px;
}
button#min ,
button#max ,
button#close {
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:middle;
	font-size:1em;
	background:transparent;
	color:#7216A4;
}
.conversation div[class*="direct-chat"]  {
		clear:both
}

/* @CHARSET "ISO-8859-1"; */

html {
	height:100%;
	overflow-y:hidden;
}
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	font-family: Roboto;
  height: 100%;
	/* padding-bottom: calc(67px + .2em);
	padding-bottom: calc(67px + 40px); old values*/
	padding-bottom: calc(67px + 53px);
}
header  {
	display:block;
	overflow:hidden;
	background:rgba(99,54, 137, 1);
	background:#15822F;
	background:#2B9A44;
	padding:.5em;
}
main {
	/* padding-bottom: 41px;
	padding-bottom: calc(41px + 2em);  old values*/
	overflow-y: scroll;
	height: 100%;
}
.botname {
	color:#fff;
	height:51px;
	display:inline-block;
  padding: 0.5em;
	line-height: 1em;
}
.botname h2{
	font-size:1em;
}
.botname span{
	font-size:.666em;
}

.wavy {
	float:left;
	height:51px;
}
.conversationQuestion {
	color: #F00;
}

.conversation {
	color: #7216A4;
}
/* Q&R boxes */
div[id^="q"] {
	border-right:3px solid #13a175;
	text-align:right;
	background:#35B297;
}
div[id^="r"] {
	border-left:3px solid #7216A4;
	text-align:left;
}


div[id^="r"] {
		display:block;
		width:100%;
		padding:.5em;
		clear:both;
}
#conversation {
	max-height: 100%;
	overflow: auto;
}
#conversation div[id^="q"] h3{
	color:#EA7164;
}
#conversation div[id^="r"] h3{
	color:#15822F;
}
#conversation h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom:.2em;
	text-transform:capitalize;
}
#input {
	width: calc(100% - 64px);
	height:40px;
	margin:0;
	display:inline-block;
	vertical-align:middle;
	padding:.2em .5em;
}

button {
    background-color: #7216A4;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
		height:40px;
		width:64px;
}

.askbutton {
	background-color: #7216A4;
	margin:0;
	margin-left:-4px;
	width:64px;
	height:40px;
	display:inline-block;
	vertical-align:middle;
	color:#fff;
}

#button-yes {
	height:40px;
	width: 60px;
	margin: 5px;
	border:none;
	border-radius: 2px;
	background-color:green;
	color: white;
}

#button-no {
	background-color:red;
	border:none;
	border-radius: 2px;
	color: white;
	height:40px;
	margin: 5px;
	width: 60px;
}
.loading {
	background: url(../img/loading.gif)no-repeat -5px 1px;
	background-size: 70px;
	border-left: 3px solid #15822F;
	min-height:62px;
  padding: .5em;
	text-align: left;
}
.loading h3 {
	color:#15822F;
	font-size: 1em;
	font-weight: bold;
	margin-bottom:.2em;
	text-transform:capitalize;
}
.footer {
	width:100%;
	position: absolute;
	bottom:0;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
