<!DOCTYPE html>
<html>
<head>
	<!-- //Favicon tags -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mmenu.all.js"></script>
</head>

<body>
	<div id="wrap">

<header class = "fluid-container">
	<div class="container">
		<div class="row">
			<div class="col-3 mr-auto">
				<!-- <img class="newappIcon" src="images/e-office_logo.svg"> -->
				<a class="logo" href="/">
					<img class="newappIcon" src="../images/talkteam_logo1.png">
				</a>
			</div>
			<div class="col-2 col-sm-9 col-xs-9 col-auto">
				<% if (typeof lang == 'undefined' || lang == 'en') { %>
				<div class="mobile-lang">
					<a href="/?clang=nl"><img src="../images/nl.png" alt="Dutch flag" height="34" width="34"></a>
				</div>
				<% } else if (lang == 'nl') { %>
					<div class="mobile-lang">
						<a href="/?clang=en"><img src="../images/en.png" alt="British flag" height="34" width="34"></a>
					</div>
				<% } %>
				<a id="hamburger" href="#mainmenu"></a>
				<nav id="mainmenu">
					<ul>
						<% if (typeof lang == 'undefined' || lang == 'en') { %>
						  <li><a href="/home">Home</a></li>
							<% if (!username) { %>
								<li>
									<a href="/register">Register</a>
									<ul>
										<li><a href="/downloads">Downloads</a></li>
									</ul>
								</li>
							<% } else if (username) { %>
								<li><a href="/downloads">Downloads</a></li>
							<% } %>
						  <li>
								<a href="/about">E-Office</a>
								<ul>
									<li><a href="/blog">Nieuws</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<li><a href="/terms">Algemene voorwaarde</a></li>
								</ul>
							</li>
						<% } else if (lang == 'nl') { %>
						  <li><a href="/home">Home</a></li>
							<% if (!username) { %>
								<li>
									<a href="/register">Register</a>
									<ul>
										<li><a href="/downloads">Downloads</a></li>
									</ul>
								</li>
							<% } else if (username) { %>
								<li><a href="/downloads">Downloads</a></li>
							<% } %>
						  <li>
								<a href="/about">E-Office</a>
								<ul>
									<li><a href="/blog">Nieuws</a></li>
									<li><a href="/faq">F.A.Q</a></li>
									<li><a href="/terms">Algemene voorwaarde</a></li>
								</ul>
							</li>
						<% } %>

						<% if (typeof lang == 'undefined' || lang == 'en') { %>
							<li class="lang"><a href="?clang=nl"><img src="images/nl.png" title="Translate to: Dutch" alt="Dutch flag" height="34" width="34"></a></li>
						<% } else if (lang == 'nl') { %>
							<li class="lang"><a href="?clang=en"><img src="images/en.png" title="Vertaal naar: Engels" alt="British flag" height="34" width="34"></a></li>
						<% } %>
					</ul>
				</nav>
				<div class="login">
					<% if (username) { %>
						<a id="logoutButton" href="/logout" style="margin-right: -4px">Logout</a>
					<% } %>
					<% if (!username) { %>
						<a id="loginButton" href="/login">Login</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="fluid-container">
	<div class="row">
		<div class="col">
			<img class="bannerimg" src="images/apples-talkteam.png">
		</div>
	</div>
</div>

<section class="container main">

		<% for(var i=0; i < blog_posts.length; i++) { %>
			<article class="blog_post">
				<% if (typeof admin == 'undefined') { %>
				<% } else if (admin) { %>
					<form id="blog_delete_form" method="post" action="/delete/blog_post" class="shortForm">
						<input type="hidden" name="blogpost_title" value="<%= blog_posts[i].blogpost_title %>">
						<input type="hidden" name="blogpost_date" value="<%= blog_posts[i].blogpost_date %>">
						<input type="submit" value="X">
					</form>
				<% } %>
				<header>
					<h2><%= blog_posts[i].blogpost_title %></h2>
				</header>
				<div class="body">
					<pre><%= blog_posts[i].blogpost_body %></pre>
				</div>
				<footer>
					<% if (typeof blog_posts[i].blogpost_file == 'undefined') { %>
						<% } else if (blog_posts[i].blogpost_file) { %>
							<% if ( blog_posts[i].blogpost_file['mimetype'].startsWith("image") ) { %>
								<img src="../uploads/<%= Object(blog_posts[i].blogpost_file['filename']) %>" alt="">
							<% } %>
							<% if ( blog_posts[i].blogpost_file['mimetype'] == "application/vnd.openxmlformats-officedocument.presentationml.presentation" ) { %>
								<a href="../uploads/<%= Object(blog_posts[i].blogpost_file['filename']) %>" alt="">
									<%= Object(blog_posts[i].blogpost_file['originalname']) %>
								</a>
							<% } %>

					<% } %>
					<pre><%= blog_posts[i].blogpost_date_format %></pre>

				</footer>
			</article>
		<% } %>

		<% if (username) { %>

		<% } else if (admin) { %>
			<article class="blog_post">
				<form id="blog_post_form" class="shortForm" action="/post/blog_post" method="post" enctype="multipart/form-data">
					<header>
						<label>Title:</label>
						<input type="text" name="blogpost_title"/>
					</header>
					<div class="body">
						<label>Content:</label>
						<textarea type="text" name="blogpost_body"/></textarea>
					</div>
					<footer>

				    <input type="file" name="uploadFile">
						<pre>Date: <%= timeStampFormat %></pre>
						<input type="hidden" name="blogpost_date" value="<%= timeStamp %>"/>
						<input type="hidden" name="blogpost_date_format" value="<%= timeStampFormat %>"/>
					</footer>
					<input type="submit">
				</form>
			</article>
		<% } %>

		<% if (username && admin ) { %>
			<div class="adminPanel">
				<form id="adminPost" action="/admin_cm/post" method="post">
					<input id="jsonParser" type="text" name="_jsonParser" hidden="true" value="">
					<input id="currentPageVar" type="text" name="currentPageVar" hidden="true" value='<%= title %>'>
					<input id="admin_ApplyButton" name="button" value="Apply">
					<input id="admin_SafeButton" name="button" value="Save" type="submit">
				</form>
				<a href="/toc">Configuration</a>

				<div id="setAdmin" hidden="true">toggle setAdmin</div>
			</div>

		<% } else if ( username && !admin) { %>
			<div class="adminPanel">
				<a href="/toc">Configuration000</a>
			</div>
		<% } %>

		<input id="jsonConverter" type="text" name="_jsonConverter" hidden="true" value='<%= _jsonConverter %>'>

	</section>

	<footer class="fluid-container">
		<div class="row-12">
			Copyright 2018 <a href="http://www.e-office.com">E-Office</a>
		</div>
	</footer>
<script src=".././lib/domJSON.js"></script>
<script type="text/javascript" src="../scripts/admin_cm.js"></script>
<script type="text/javascript" src="../scripts/custom_menu.js"></script>
</body>
</html>
